<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Baguette</title>
    <link th:href="@{./../static/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{./../static/css/style.css}">
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div th:fragment="baguette_fragment">
    <a href="baguette/new">New baguette</a>
    <h3>Baguettes list</h3>
    <table class="table">
        <thead>
        <tr>
            <div th:fragment="baguette_thead_fragment">
                <th>id</th>
                <th>Baguette name</th>
                <th colspan="2">Edit</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="baguette : ${baguetteList}">
            <td th:text="${baguette.getId()}"></td>
            <td th:text="${baguette.getBaguetteName()}"></td>

            <td><a th:href="@{/baguette/{id}(id=${baguette.getId()})}">Edit</a></td>
            <td>
                <form th:action="@{/baguette/{id}(id=${baguette.getId()})}" method="post">
                    <input type="submit" value="Del"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{./../static/script/bootstrap.bundle.min.js}"></script>
</body>
</html>