<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Baguette edit</title>
</head>
<body>

<table class="table">
    <caption><h3>Baguette edit</h3></caption>
    <tr>
        <div th:insert="~{baguette :: baguette_thead_fragment}"></div>
    </tr>
    <form action="#" th:action="@{/baguette}" th:object="${baguette}" method="post">
        <tr>
            <input type="hidden" th:field="*{id}" name="id"/>
            <th th:text="${(baguette.getId()!=0) ? baguette.getId() : ''}"></th>
            <th><input type="text" th:field="*{baguetteName}"/></th>

            <th><input type="submit" value="Save"/></th>
            <th><input type="reset" value="Cancel"/></th>
        </tr>
    </form>

</table>
</body>
</html>