<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cutter edit</title>
    <link th:href="@{./../static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<table class="table">
    <caption><h3>Cutter edit</h3></caption>
    <tr>
        <div th:insert="~{cutter :: cutter_thead_fragment}"></div>
    </tr>
    <form action="#" th:action="@{/cutter}" th:object="${cutter}" method="post">
        <tr>
            <input type="hidden" th:field="*{id}" name="id"/>
            <th th:text="${(cutter.getId()!=0) ? cutter.getId() : ''}"></th>
            <th><input type="text" th:field="*{cutterName}"/></th>

            <th><input type="submit" value="Save"/></th>
            <th><input type="reset" value="Cancel"/></th>
        </tr>
    </form>

</table>
<script th:src="@{./../static/script/bootstrap.bundle.min.js}"></script>
</body>
</html>