<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee edit</title>
    <link th:href="@{./../static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<table class="table">
    <caption><h3>Employee edit</h3></caption>
    <tr>
        <div th:insert="~{employee :: employee_thead_fragment}"></div>
    </tr>

    <form th:action="@{/employee}" method="post">
        <tr>

            <input type="hidden" th:value="${(employee.getId()!=0) ? employee.getId() : ''}" name="id"/>
            <th th:text="${(employee.getId()!=0) ? employee.getId() : ''}"></th>

            <th><input type="text" th:value="${employee.getFullName()}" name="FullName" size=""/></th>

            <th>
                <select th:size="10" th:name="selectedWorkplaces" multiple>
                    <option th:each="workplace : ${workplaces}"
                            th:text="${workplace.getNameWorkplace()}"
                            th:value="${workplace.getId()}"
                            th:selected="${selectedWorkplaces.contains(workplace)}">
                    </option>
                </select>
            </th>

            <th><input type="submit" value="Save"/></th>
            <th><input type="reset" value="Cancel"/></th>
        </tr>
    </form>

</table>
<script th:src="@{./../static/script/bootstrap.bundle.min.js}"></script>
</body>
</html>