<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link th:href="@{./../static/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{./../static/css/style.css}">
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div th:fragment="employee_fragment">
    <a href="employee/new">New employee</a>
    <h3>Employees list</h3>
    <table class="table">
        <thead>
        <tr>
            <div th:fragment="employee_thead_fragment">
                <th>id</th>
                <th>Full name</th>
                <th>Workplace</th>
                <th colspan="2">Edit</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.getId()}"></td>
            <td th:text="${employee.getFullName()}"></td>
            <td>
                <div th:each="workplace : ${employee.getWorkplaces()}">
                    <div th:text="${workplace.getNameWorkplace()}"></div>
                </div>
            </td>
            <td><a th:href="@{/employee/{id}(id=${employee.getId()})}">Edit</a></td>
            <td>
                <form th:action="@{/employee/{id}(id=${employee.getId()})}" method="post">
                    <input type="submit" value="Del"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{./../static/script/bootstrap.bundle.min.js}"></script>
</body>
</html>