<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LESPROM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/order">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/baguette">Baguettes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cutter">Cutters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/workplace">Workplaces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employee">Employees</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link" href="/user">Users</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link" href="/role">Roles</a>
                    </li>
                </ul>
<!--
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
-->
                <span class="navbar-text ms-2 me-2" th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-sm btn-outline-secondary" type="submit">Sign Out</button>
                </form>
            </div>
        </div>
    </nav>

</div>
</body>
</html>
