<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order edit</title>
    <link th:href="@{./../static/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<form id="form_data" th:action="@{/order}" method="post"></form>
<h3>Order edit</h3>
<table>
    <caption><h4>General Info</h4></caption>
    <tr>
        <div th:insert="~{order :: order_thead_fragment}"></div>
    </tr>
    <tr>
        <input type="hidden" th:value="${(order.getId()!=0) ? order.getId() : ''}" name="id"/>
        <th th:text="${(order.getId()!=0) ? order.getId() : ''}"></th>
        <th><input type="text" th:value="${order.getNumberOrder()}" name="FullName" size=""/></th>
    </tr>
</table>
<hr>
<table>
    <caption><h4>Workplaces</h4></caption>
    <tr>
        <div th:each="workplace : ${workplaces}">
            <td>
                <table>
                    <tr>
                        <td th:text="${workplace.getNameWorkplace()}">Title</td>
                    </tr>
                    <tr>
                        <td>
                            <select th:size="10" th:name="${selectedEmployees}" multiple>
                                <option th:each="employee : ${workplace.getEmployees()}"
                                        th:text="${employee.getFullName()}"
                                        th:value="${employee.getId()}"
                                        th:selected="${selectedEmployees.contains(employee)}">
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
            </td>
        </div>
    </tr>
</table>
<hr>
<table>
    <tr>
        <td><input form="form_data" type="submit" value="Save"/></td>
        <td><input form="form_data" type="reset" value="Cancel"/></td>
    </tr>
</table>
<script th:src="@{./../static/script/bootstrap.bundle.min.js}"></script>
</body>
</html>