<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order edit</title>
    <link rel="stylesheet" th:href="@{./../static/css/style.css}">
</head>
<body>

<div id="app">
    <a href="user/new">New user</a>
    <h3>Users list</h3>
    <table class="table">
        <thead>
        <tr>
            <div>
                <th>id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
                <th colspan="2">Edit</th>
            </div>
        </tr>
        </thead>
        <tbody>

        <form @submit="save()">
            <tr>
                <input type="hidden" v-model="editUser.id" name="id"/>
                <th v-text="(editUser.id != 0) ? editUser.id : ''"></th>
                <th><input type="text" v-model="editUser.username"/></th>
                <th><input type="password" v-model="editUser.password"/></th>
                <th>
                    <div v-for="role in roles">
                        <label>
                            <input type="checkbox" v-text="role.role"/>
                        </label>
                    </div>
                </th>
                <th><input type="submit" value="Save"/></th>
                <th><input type="reset" value="Cancel"/></th>
            </tr>
        </form>

        <tr v-for="(user, index) in users" v-if="users.length">
            <td v-text="user.id"></td>
            <td v-text="user.username"></td>
            <td>********</td>
            <td>
                <div v-for="role in user.roles">
                    <div v-text="role.role"></div>
                </div>
            </td>
            <td><button @click="edit(user)">edit</button></td>
            <td><button @click="del(user.id, index)">delete</button></td>
        </tr>
        <tr v-else>
            <td>List is empty!</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script th:src="@{./../static/script/script.js}"></script>
</body>
</html>